<div class="sidenav-block">
    <input type="checkbox" id="core-elements" {% if page.parent-tab == 'core-elements' %}checked{% endif %}>
    <label for="core-elements">Core Elements</label>
    <nav>
        <a href="{{site.url}}/pages/core-elements/buttons.html">Buttons</a>
        <a href="{{site.url}}/pages/core-elements/form.html">Form</a>
        <a href="{{site.url}}/pages/core-elements/horizontal-rule.html">Horizontal Rule</a>
        <a href="{{site.url}}/pages/core-elements/image.html">Image</a>
        <a href="{{site.url}}/pages/core-elements/lists.html">Lists</a>
        <a href="{{site.url}}/pages/core-elements/table.html">Table</a>
        <a href="{{site.url}}/pages/core-elements/typography.html">Typography</a>
    </nav>
</div>
