<div class="sidenav-block">
    <input type="checkbox" id="core-layout" {% if page.parent-tab == 'core-layout' %}checked{% endif %}>
    <label for="core-layout">Core Layout</label>
    <nav>
        <a href="{{site.url}}/pages/core-layout/box.html" class="{% if page.title == "Box" %}is-active{% endif %}">Box</a>
        <a href="{{site.url}}/pages/core-layout/grid.html" class="{% if page.title == "Grid" %}is-active{% endif %}">Grid</a>
        <a href="{{site.url}}/pages/core-layout/level.html" class="{% if page.title == "Level" %}is-active{% endif %}">Level</a>
        <a href="{{site.url}}/pages/core-layout/page.html" class="{% if page.title == "Page" %}is-active{% endif %}">Page</a>
        <a href="{{site.url}}/pages/core-layout/spacing.html" class="{% if page.title == "Spacing" %}is-active{% endif %}">Spacing</a>
        <a href="{{site.url}}/pages/core-layout/stack.html" class="{% if page.title == "Stack" %}is-active{% endif %}">Stack</a>
    </nav>
</div>
