<div class="sidenav-block">
    <input type="checkbox" id="core-layout">
    <label for="core-layout">Core Layout</label>
    <nav>
        <a href="{{site.url}}/pages/core-layout/box.html">Box</a>
        <a href="{{site.url}}/pages/core-layout/grid.html">Grid</a>
        <a href="{{site.url}}/pages/core-layout/level.html">Level</a>
        <a href="{{site.url}}/pages/core-layout/page.html">Page</a>
        <a href="{{site.url}}/pages/core-layout/spacing.html">Spacing</a>
        <a href="{{site.url}}/pages/core-layout/stack.html">Stack</a>
    </nav>
</div>
