<li class="sidenav">
    <input type="checkbox" id="elements" {% if page.parent-tab == 'elements' %}checked{% endif %}>
    <label class="sidenav-label" for="elements">Core Elements</label>
    <ul class="sidenav-content">
        <li><a href="{{site.url}}/pages/elements">Buttons</a></li>
        <li><a href="{{site.url}}/pages/elements">Delete</a></li>
        <li><a href="{{site.url}}/pages/elements">Image</a></li>
        <li><a href="{{site.url}}/pages/elements">Table</a></li>
        <li><a href="{{site.url}}/pages/elements">Typography</a></li>
    </ul>
</li>
