<div class="sidenav-block">
    <input type="checkbox" id="extend-elements" {% if page.parent-tab == 'extend-elements' %}checked{% endif %}>
    <label for="extend-elements">Extend Elements</label>
    <nav>
        <a href="{{site.url}}/pages/extend-elements/avatars.html" class="{% if page.title == "Avatars" %}is-active{% endif %}">Avatars</a>
        <a href="{{site.url}}/pages/extend-elements/badges.html" class="{% if page.title == "Badges" %}is-active{% endif %}">Badges</a>
        <a href="{{site.url}}/pages/extend-elements/icons.html" class="{% if page.title == "Icons" %}is-active{% endif %}">Icons</a>
        <a href="{{site.url}}/pages/extend-elements/notifications.html" class="{% if page.title == "Notifications" %}is-active{% endif %}">Notifications</a>
        <a href="{{site.url}}/pages/extend-elements/tags.html" class="{% if page.title == "Tags" %}is-active{% endif %}">Tags</a>
    </nav>
</div>
