<div class="sidenav-block">
    <input type="checkbox" id="extend-components" {% if page.parent-tab == 'extend-components' %}checked{% endif %}>
    <label for="extend-components">Extend Components</label>
    <nav>
        <a href="{{site.url}}/pages/extend-components/accordions.html" class="{% if page.nav == "Accordions" %}is-active{% endif %}">Accordions</a>
        <a href="{{site.url}}/pages/extend-components/breadcrumbs.html" class="{% if page.nav == "Breadcrumbs" %}is-active{% endif %}">Breadcrumbs</a>
        <a href="{{site.url}}/pages/extend-components/card.html" class="{% if page.nav == "Card" %}is-active{% endif %}">Card</a>
        <a href="{{site.url}}/pages/extend-components/dropdowns.html" class="{% if page.nav == "Dropdowns" %}is-active{% endif %}">Drop Downs</a>
        <a href="{{site.url}}/pages/extend-components/modal.html" class="{% if page.nav == "Modal" %}is-active{% endif %}">Modal</a>
        <a href="{{site.url}}/pages/extend-components/navbar.html" class="{% if page.nav == "Navbar" %}is-active{% endif %}">Navbar</a>
        <a href="{{site.url}}/pages/extend-components/pagination.html" class="{% if page.nav == "Pagination" %}is-active{% endif %}">Pagination</a>
        <a href="{{site.url}}/pages/extend-components/tabs.html" class="{% if page.nav == "Tabs" %}is-active{% endif %}">Tabs</a>
    </nav>
</div>
