<div class="sidenav-block">
    <input type="checkbox" id="extend-components" {% if page.parent-tab == 'extend-components' %}checked{% endif %}>
    <label for="extend-components">Extend Components</label>
    <nav>
        <a href="{{site.url}}/pages/extend-components/accordions.html">Accordions</a>
        <a href="{{site.url}}/pages/extend-components/breadcrumbs.html">Breadcrumbs</a>
        <a href="{{site.url}}/pages/extend-components/card.html">Card</a>
        <a href="{{site.url}}/pages/extend-components/dropdowns.html">Drop Downs</a>
        <a href="{{site.url}}/pages/extend-components/modal.html">Modal</a>
        <a href="{{site.url}}/pages/extend-components/navbar.html">Navbar</a>
        <a href="{{site.url}}/pages/extend-components/pagination.html">Pagination</a>
        <a href="{{site.url}}/pages/extend-components/tabs.html">Tabs</a>
    </nav>
</div>
