<li class="sidenav">
    <input type="checkbox" id="extra-components" {% if page.parent-tab == 'extra-components' %}checked{% endif %}>
    <label class="sidenav-label" for="extra-components">Extra Components</label>
    <ul class="sidenav-content">
        <li><a href="{{site.url}}/pages/extra-components">Accordians</a></li>
        <li><a href="{{site.url}}/pages/extra-components">card</a></li>
        <li><a href="{{site.url}}/pages/extra-components">Carousel</a></li>
        <li><a href="{{site.url}}/pages/extra-components">Carousel Advanced</a></li>
        <li><a href="{{site.url}}/pages/extra-components">Dropdown</a></li>
        <li><a href="{{site.url}}/pages/extra-components">Modal</a></li>
        <li><a href="{{site.url}}/pages/extra-components">Pagination</a></li>
        <li><a href="{{site.url}}/pages/extra-components">Sidebar</a></li>
        <li><a href="{{site.url}}/pages/extra-components">Side Nav</a></li>
        <li><a href="{{site.url}}/pages/extra-components">Tabs</a></li>
        <li><a href="{{site.url}}/pages/extra-components">Tabs Grid</a></li>
    </ul>
</li>
