<li class="sidenav">
    <input type="checkbox" id="extra-elements" {% if page.parent-tab == 'extra-elements' %}checked{% endif %}>
    <label class="sidenav-label" for="extra-elements">Extra Elements</label>
    <ul class="sidenav-content">
        <li><a href="{{site.url}}/pages/extra-elements">Avatar</a></li>
        <li><a href="{{site.url}}/pages/extra-elements">Badge</a></li>
        <li><a href="{{site.url}}/pages/extra-elements">Borders</a></li>
        <li><a href="{{site.url}}/pages/extra-elements">Divider</a></li>
        <li><a href="{{site.url}}/pages/extra-elements">Icons</a></li>
        <li><a href="{{site.url}}/pages/extra-elements">Media</a></li>
        <li><a href="{{site.url}}/pages/extra-elements">Message</a></li>
        <li><a href="{{site.url}}/pages/extra-elements">Notification</a></li>
        <li><a href="{{site.url}}/pages/extra-elements">Popover</a></li>
        <li><a href="{{site.url}}/pages/extra-elements">Progress Bar</a></li>
        <li><a href="{{site.url}}/pages/extra-elements">Ribbon</a></li>
        <li><a href="{{site.url}}/pages/extra-elements">Tag</a></li>
        <li><a href="{{site.url}}/pages/extra-elements">Tooltip</a></li>
    </ul>
</li>
