<li class="sidenav">
    <input type="checkbox" id="extra-components" {% if page.parent-tab == 'extra-components' %}checked{% endif %}>
    <label class="sidenav-label" for="extra-components">Extra Components</label>
    <ul class="sidenav-content">
        <li><a href="{{site.url}}/pages/extra-components/accordions.html">Accordians</a></li>
        <li><a href="{{site.url}}/pages/extra-components/card.html">Card</a></li>
        <li><a href="{{site.url}}/pages/extra-components/carousel.html">Carousel</a></li>
        <li><a href="{{site.url}}/pages/extra-components/carousel-advanced.html">Carousel Advanced</a></li>
        <li><a href="{{site.url}}/pages/extra-components/dropdown.html">Dropdown</a></li>
        <li><a href="{{site.url}}/pages/extra-components/modal.html">Modal</a></li>
        <li><a href="{{site.url}}/pages/extra-components/pagination.html">Pagination</a></li>
        <li><a href="{{site.url}}/pages/extra-components/sidebar.html">Sidebar</a></li>
        <li><a href="{{site.url}}/pages/extra-components/sidenav.html">Side Nav</a></li>
        <li><a href="{{site.url}}/pages/extra-components/tabs.html">Tabs</a></li>
    </ul>
</li>
