<div class="sidenav-block">
    <input type="checkbox" id="extra-components" {% if page.parent-tab == 'extra-components' %}checked{% endif %}>
    <label for="extra-components">Extra Components</label>
    <nav>
        <a href="{{site.url}}/pages/extra-components/blockquote.html" class="{% if page.nav == "Blockquote" %}is-active{% endif %}">Blockquote</a>
        <a href="{{site.url}}/pages/extra-components/carousel.html" class="{% if page.nav == "Carousel" %}is-active{% endif %}">Carousel</a>
        <a href="{{site.url}}/pages/extra-components/comments.html" class="{% if page.nav == "Comments" %}is-active{% endif %}">Comments</a>
        <a href="{{site.url}}/pages/extra-components/dividers.html" class="{% if page.nav == "Dividers" %}is-active{% endif %}">Dividers</a>
        <a href="{{site.url}}/pages/extra-components/magazine.html" class="{% if page.nav == "Magazine" %}is-active{% endif %}">Magazine</a>
        <a href="{{site.url}}/pages/extra-components/messages.html" class="{% if page.nav == "Messages" %}is-active{% endif %}">Messages</a>
        <a href="{{site.url}}/pages/extra-components/popovers.html" class="{% if page.nav == "Popovers" %}is-active{% endif %}">Popovers</a>
        <a href="{{site.url}}/pages/extra-components/widget-bar.html" class="{% if page.nav == "Widget Bar" %}is-active{% endif %}">Widget Bar</a>
    </nav>
</div>
