<div class="sidenav-block">
    <input type="checkbox" id="get-started" {% if page.parent-tab == 'get-started' %}checked{% endif %}>
    <label for="get-started">Getting Started</label>
    <nav>
        <a href="{{site.url}}/pages/get-started/intro.html">Home</a>
        <a href="{{site.url}}/pages/get-started/philosophy.html">About</a>
        <a href="{{site.url}}/pages/get-started/comparisons.html">Comparisons</a>
        <a href="{{site.url}}/pages/get-started/installations.html">Installation</a>
        <a href="{{site.url}}/pages/get-started/customization.html">Customization</a>
    </nav>
</div>
