<div class="sidenav-block">
    <input type="checkbox" id="get-started" {% if page.parent-tab == 'get-started' %}checked{% endif %}>
    <label for="get-started">Getting Started</label>
    <nav>
        <a href="{{site.url}}/pages/get-started/why-yacf.html" class="{% if page.title == "Why YACF" %}is-active{% endif %}">Why YACF</a>
        <a href="{{site.url}}/pages/get-started/key-drivers.html" class="{% if page.title == "Key Drivers" %}is-active{% endif %}">Key Drivers</a>
        <a href="{{site.url}}/pages/get-started/philosophy.html" class="{% if page.title == "Philosophy" %}is-active{% endif %}">Philosophy</a>
        <a href="{{site.url}}/pages/get-started/comparisons.html" class="{% if page.title == "Comparisons" %}is-active{% endif %}">Comparisons</a>
        <a href="{{site.url}}/pages/get-started/installations.html" class="{% if page.title == "Installation" %}is-active{% endif %}">Installation</a>
        <a href="{{site.url}}/pages/get-started/customization.html" class="{% if page.title == "Customization" %}is-active{% endif %}">Customization</a>
    </nav>
</div>
