<li class="sidenav">
    <input type="checkbox" id="helpers" {% if page.parent-tab == 'helpers' %}checked{% endif %}>
    <label class="sidenav-label" for="helpers">Core Helpers</label>
    <ul class="sidenav-content">
        <li><a href="{{site.url}}/pages/helpers">Backgrounds</a></li>
        <li><a href="{{site.url}}/pages/helpers">Element Colors</a></li>
        <li><a href="{{site.url}}/pages/helpers">Heights</a></li>
        <li><a href="{{site.url}}/pages/helpers">Shadows</a></li>
        <li><a href="{{site.url}}/pages/helpers">Spacing</a></li>
        <li><a href="{{site.url}}/pages/helpers">Widths</a></li>
    </ul>
</li>
