<li class="sidenav">
    <input type="checkbox" id="layout" {% if page.parent-tab == 'layout' %}checked{% endif %}>
    <label class="sidenav-label" for="layout">Core Layout</label>
    <ul class="sidenav-content">
        <li><a href="{{site.url}}/pages/layout/page.html">Page</a></li>
        <li><a href="{{site.url}}/pages/layout/grid.html">Grid</a></li>
        <li><a href="{{site.url}}/pages/layout/flexbox.html">Flexbox</a></li>
        <li><a href="{{site.url}}/pages/layout/box.html">Box</a></li>
        <li><a href="{{site.url}}/pages/layout/level.html">Level</a></li>
        <li><a href="{{site.url}}/pages/layout/footer.html">Footer</a></li>
    </ul>
</li>
