<div class="sidenav-block">
    <input type="checkbox" id="slide-extend-elements" {% if page.parent-tab == 'extend-elements' %}checked{% endif %}>
    <label for="slide-extend-elements">Extend Elements</label>
    <nav>
        <a href="{{site.url}}/_pages/extend-elements/avatars.html">Avatars</a>
        <a href="{{site.url}}/_pages/extend-elements/badges.html">Badges</a>
        <a href="{{site.url}}/_pages/extend-elements/icons.html">Icons</a>
        <a href="{{site.url}}/_pages/extend-elements/notifications.html">Notifications</a>
        <a href="{{site.url}}/_pages/extend-elements/tags.html">Tags</a>
    </nav>
</div>
