<div class="sidenav-block">
    <input type="checkbox" id="slide-extend-components" {% if page.parent-tab == 'extend-components' %}checked{% endif %}>
    <label for="slide-extend-components">Extend Comp'ts</label>
    <nav>
        <ul>
            <li><a href="{{site.url}}/pages/extend-components/accordions.html">Accordions</a></li>
            <li><a href="{{site.url}}/pages/extend-components/breadcrumbs.html">Breadcrumbs</a></li>
            <li><a href="{{site.url}}/pages/extend-components/card.html">Card</a></li>
            <li><a href="{{site.url}}/pages/extend-components/dropdowns.html">Drop Downs</a></li>
            <li><a href="{{site.url}}/pages/extend-components/modal.html">Modal</a></li>
            <li><a href="{{site.url}}/pages/extend-components/navbar.html">Navbar</a></li>
            <li><a href="{{site.url}}/pages/extend-components/pagination.html">Pagination</a></li>
            <li><a href="{{site.url}}/pages/extend-components/tabs.html">Tabs</a></li>
        </ul>
    </nav>
</div>
