<div class="sidenav-block">
    <input type="checkbox" id="slide-extra-components" {% if page.parent-tab == 'extra-components' %}checked{% endif %}>
    <label for="slide-extra-components">Extra Comp'ts</label>
    <nav>
        <a href="{{site.url}}/pages/extra-components/blockquote.html">Blockquote</a>
        <a href="{{site.url}}/pages/extra-components/carousel.html">Carousel</a>
        <a href="{{site.url}}/pages/extra-components/comments.html">Comments</a>
        <a href="{{site.url}}/pages/extra-components/dividers.html">Dividers</a>
        <a href="{{site.url}}/pages/extra-components/magazine.html">Magazine</a>
        <a href="{{site.url}}/pages/extra-components/messages.html">Messages</a>
        <a href="{{site.url}}/pages/extra-components/popovers.html">Popovers</a>
        <a href="{{site.url}}/pages/extra-components/widget-bar.html">Widget Bar</a>
    </nav>
</div>
