<div class="sidenav-block">
    <input type="checkbox" id="slide-get-started" {% if page.parent-tab == 'get-started' %}checked{% endif %}>
    <label for="slide-get-started">Getting Started</label>
    <nav>
        <ul>
            <li><a href="{{site.url}}/pages/get-started/why-yacs.html" class="{% if page.nav == "Why YACF" %}is-active{% endif %}">Why YACF</a></li>
            <li><a href="{{site.url}}/pages/get-started/key-drivers.html" class="{% if page.nav == "Key Drivers" %}is-active{% endif %}">Key Drivers</a></li>
            <li><a href="{{site.url}}/pages/get-started/philosophy.html" class="{% if page.nav == "Philosophy" %}is-active{% endif %}">Philosophy</a></li>
            <li><a href="{{site.url}}/pages/get-started/comparisons.html" class="{% if page.nav == "Comparisons" %}is-active{% endif %}">Comparisons</a></li>
            <li><a href="{{site.url}}/pages/get-started/installations.html" class="{% if page.nav == "Installations" %}is-active{% endif %}">Installations</a></li>
            <li><a href="{{site.url}}/pages/get-started/colour-control.html" class="{% if page.nav == "Colour Control" %}is-active{% endif %}">Colour Control</a></li>
            <li><a href="{{site.url}}/pages/get-started/customization.html" class="{% if page.nav == "Customization" %}is-active{% endif %}">Customization</a></li>
            <li><a href="{{site.url}}/pages/get-started/verification.html" class="{% if page.nav == "Verification" %}is-active{% endif %}">Verification</a></li>
        </ul>
    </nav>
</div>
