<div class="sidenav-block">
    <input type="checkbox" id="slide-get-started" {% if page.parent-tab == 'get-started' %}checked{% endif %}>
    <label for="slide-get-started">Getting Started</label>
    <nav>
        <a href="{{site.url}}/pages/get-started/why-yacf.html">Why YACF</a>
        <a href="{{site.url}}/pages/get-started/philosophy.html">Philosophy</a>
        <a href="{{site.url}}/pages/get-started/key-drivers.html">Key Drivers</a>
        <a href="{{site.url}}/pages/get-started/comparisons.html">Comparisons</a>
        <a href="{{site.url}}/pages/get-started/installations.html">Installation</a>
        <a href="{{site.url}}/pages/get-started/customization.html">Customization</a>
    </nav>
</div>
