<nav class="page-sidenav" aria-label="Extended Side Bar Navigation">
    <div class="sidenavs">

        {% include sidenavs/get-started.liquid %}

        {% include sidenavs/core-layout.liquid %}

        <!--
        <div class="sidenav-block">
            <input type="checkbox" id="check60">
            <label for="check60">Getting Started</label>
            <nav>
                <a href="{{site.url}}/pages/get-started/intro.html">Home</a>
                <a href="{{site.url}}/pages/get-started/philosophy.html">About</a>
                <a href="{{site.url}}/pages/get-started/comparisons.html">Comparisons</a>
                <a href="{{site.url}}/pages/get-started/installations.html">Installation</a>
                <a href="{{site.url}}/pages/get-started/installations.html">Customization</a>
            </nav>
        </div>

        <div class="sidenav-block">
            <input type="checkbox" id="check61">
            <label for="check61">Core Layout</label>
            <nav>
                <a href="#core-layout_box">Box</a>
                <a href="#core-layout_gridbox">GridBox</a>
                <a href="#core-layout_level">Level</a>
                <a href="#core-layout_page">Page</a>
                <a href="#core-layout_spacing">Spacing</a>
                <a href="#core-layout_stack">Stack</a>
            </nav>
        </div>
        -->

        <div class="sidenav-block">
            <input type="checkbox" id="check62">
            <label for="check62">Core Elements</label>
            <nav>
                <a href="#core-element_buttons">Buttons</a>
                <a href="#core-element_form">Form</a>
                <a href="#core-element_horizontal-rule">Horizontal Rule</a>
                <a href="#core-element_image">Image</a>
                <a href="#core-element_lists">Lists</a>
                <a href="#core-element_table">Table</a>
                <a href="#core-element_typography">Typography</a>
            </nav>
        </div>

        <div class="sidenav-block">
            <input type="checkbox" id="check63">
            <label for="check63">Core Helpers</label>
            <nav>
                <a href="#core-helpers_colours">Colour Palette</a>
                <a href="#core-helpers_heights">Heights</a>
                <a href="#core-helpers_positions">Positions</a>
                <a href="#core-helpers_widths">Widths</a>
            </nav>
        </div>

        <div class="sidenav-block">
            <input type="checkbox" id="check64">
            <label for="check64">Extended Elements</label>
            <nav>
                <a href="#extend-element_avatar">Avatars</a>
                <a href="#extend-element_badge">Badge</a>
                <a href="#extend-element_icons">Icons</a>
                <a href="#extend-element_notifications">Notifications</a>
                <a href="#extend-element_tags">Tags</a>
            </nav>
        </div>

        <div class="sidenav-block">
            <input type="checkbox" id="check65">
            <label for="check65">Extended Components</label>
            <nav>
                <a href="#extend-comp_accordions">Accordions</a>
                <a href="#extend-comp_breadcrumbs">Breadcrumbs</a>
                <a href="#extend-comp_card">Card</a>
                <a href="#extend-comp_dropdown">Drop Downs</a>
                <a href="#extend-comp_modal">Modal</a>
                <a href="#extend-comp_navbar">Navbar</a>
                <a href="#extend-comp_pagination">Pagination</a>
                <a href="#extend-comp_tabs">Tabs</a>
            </nav>
        </div>

        <div class="sidenav-block">
            <input type="checkbox" id="check66">
            <label for="check66">Extra Elements</label>
            <nav>
                <a href="#extras-element_progress_bar">Progress Bars</a>
                <a href="#extras-element_ribbons">Ribbons</a>
                <a href="#extras-element_tooltips">Tool Tips</a>
            </nav>
        </div>

        <div class="sidenav-block">
            <input type="checkbox" id="check67">
            <label for="check67">Extra Components</label>
            <nav>
                <a href="#extras-comp_blockquote">Blockquote</a>
                <a href="#extras-comp_carousel">Carousel</a>
                <a href="#extras-comp_comments">Comments</a>
                <a href="#extras-comp_dividers">Dividers</a>
                <a href="#extras-comp_magazine">Magazine</a>
                <a href="#extras-comp_messages">Messages</a>
                <a href="#extras-comp_popovers">Popovers</a>
                <a href="#extras-comp_widgetbar">Widget Bar</a>
            </nav>
        </div>
    </div>
</nav>
