<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Goldilocks CSS</title>
    <meta name="description" content="Lightweight CSS framework">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="{{site.url}}/site.webmanifest">
    <link rel="icon" href="{{site.url}}/favicon.png">

    <link rel="stylesheet" href='{{site.url}}/css/files_core.css'>
    <link rel="stylesheet" href='{{site.url}}/css/files_extras.css'>
</head>

<body>

<div class="page-wrapper" id="page-top">

    <nav class="navbar main-nav" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{site.url}}">
                <img src="{{site.url}}/img/goldi2-logo.png" alt="Project Logo">
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item">
                    <p class="is-size-2 m-0">Goldilocks-CSS</p>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <button class="is-primary mr-3">
                        <a href="#page-top">Download</a>
                    </button>

                    <button class="is-primary">
                        <a href="#page-top">View on Github</a>
                    </button>
                </div>
            </div>
        </div>
    </nav>

    <nav class="sidenav-items">
        <ul class="sidenavs">
            <li class="sidenav">
                <input type="checkbox" id="topic1" {% if page.parent-tab == 'overview' %}checked{% endif %}>
                <label class="sidenav-label" for="topic1">Overview</label>
                <ul class="sidenav-content">
                    <li><a href='{{site.url}}/pages/introduction.html'>Introduction</a></li>
                    <li><a href="#page-top">Accessibility</a></li>
                    <li><a href="#page-top">Consistency</a></li>
                    <li><a href="#page-top">Performant</a></li>
                    <li><a href="#page-top">Dev Experience</a></li>
                    <li><a href="#page-top">Core</a></li>
                    <li><a href="#page-top">Extras</a></li>
                </ul>
            </li>

            <li class="sidenav">
                <input type="checkbox" id="topic2">
                <label class="sidenav-label" for="topic2">Core Config</label>
                <ul class="sidenav-content">
                    <li><a href="#page-top">Base HTML</a></li>
                    <li><a href="#page-top">Variables</a></li>
                    <li><a href="#page-top">Colors</a></li>
                </ul>
            </li>

            <li class="sidenav">
                <input type="checkbox" id="topic3">
                <label class="sidenav-label" for="topic3">Core Layout</label>
                <ul class="sidenav-content">
                    <li><a href="#page-top">Page</a></li>
                    <li><a href="#page-top">Grid</a></li>
                    <li><a href="#page-top">Flexbox</a></li>
                    <li><a href="#page-top">Box</a></li>
                    <li><a href="#page-top">Level</a></li>
                    <li><a href="#page-top">Footer</a></li>
                </ul>
            </li>

            <li class="sidenav">
                <input type="checkbox" id="topic4">
                <label class="sidenav-label" for="topic4">Core Elements</label>
                <ul class="sidenav-content">
                    <li><a href="#page-top">Buttons</a></li>
                    <li><a href="#page-top">Delete</a></li>
                    <li><a href="#page-top">Image</a></li>
                    <li><a href="#page-top">Table</a></li>
                    <li><a href="#page-top">Typography</a></li>
                </ul>
            </li>

            <li class="sidenav">
                <input type="checkbox" id="topic5">
                <label class="sidenav-label" for="topic5">Core Helpers</label>
                <ul class="sidenav-content">
                    <li><a href="#page-top">Backgrounds</a></li>
                    <li><a href="#page-top">Element Colors</a></li>
                    <li><a href="#page-top">Heights</a></li>
                    <li><a href="#page-top">Shadows</a></li>
                    <li><a href="#page-top">Spacing</a></li>
                    <li><a href="#page-top">Widths</a></li>
                </ul>
            </li>

            <li class="sidenav">
                <input type="checkbox" id="topic6">
                <label class="sidenav-label" for="topic6">Core Components</label>
                <ul class="sidenav-content">
                    <li><a href="#page-top">Nav Bar</a></li>
                    <li><a href="#page-top">Form</a></li>
                    <li><a href="#page-top">Breadcrumb</a></li>
                </ul>
            </li>

            <li class="sidenav">
                <input type="checkbox" id="topic7">
                <label class="sidenav-label" for="topic7">Extras Elements</label>
                <ul class="sidenav-content">
                    <li><a href="#page-top">Avatar</a></li>
                    <li><a href="#page-top">Badge</a></li>
                    <li><a href="#page-top">Borders</a></li>
                    <li><a href="#page-top">Divider</a></li>
                    <li><a href="#page-top">Icons</a></li>
                    <li><a href="#page-top">Media</a></li>
                    <li><a href="#page-top">Message</a></li>
                    <li><a href="#page-top">Notification</a></li>
                    <li><a href="#page-top">Popover</a></li>
                    <li><a href="#page-top">Progress Bar</a></li>
                    <li><a href="#page-top">Ribbon</a></li>
                    <li><a href="#page-top">Tag</a></li>
                    <li><a href="#page-top">Tooltip</a></li>
                </ul>
            </li>

            <li class="sidenav">
                <input type="checkbox" id="topic8">
                <label class="sidenav-label" for="topic8">Extras Components</label>
                <ul class="sidenav-content">
                    <li><a href="#page-top">Accordians</a></li>
                    <li><a href="#page-top">card</a></li>
                    <li><a href="#page-top">Carousel</a></li>
                    <li><a href="#page-top">Carousel Advanced</a></li>
                    <li><a href="#page-top">Dropdown</a></li>
                    <li><a href="#page-top">Modal</a></li>
                    <li><a href="#page-top">Pagination</a></li>
                    <li><a href="#page-top">Sidebar</a></li>
                    <li><a href="#page-top">Side Nav</a></li>
                    <li><a href="#page-top">Tabs</a></li>
                    <li><a href="#page-top">Tabs Grid</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <main class="main-content">
        {{ content }}
    </main>

    <footer class="main-footer">footer</footer>

</div>


<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->

<!--
<script>
  window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
  ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async></script>
-->
</body>

</html>
