<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Goldilocks CSS</title>
    <meta name="description" content="Lightweight CSS framework">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="{{site.url}}/site.webmanifest">
    <link rel="icon" href="{{site.url}}/favicon.png">

    <link rel="stylesheet" href='{{site.url}}/css/files_core.css'>
    <link rel="stylesheet" href='{{site.url}}/css/files_extras.css'>
</head>


<body class="page-wrapper" id="page-top">

    {% include site-navbar.liquid %}

    <nav class="sidenav-items">
        <ul class="sidenavs">
            {% include sidenavs/overview.liquid %}

            {% include sidenavs/config.liquid %}

            {% include sidenavs/layout.liquid %}

            {% include sidenavs/elements.liquid %}

            {% include sidenavs/components.liquid %}

            {% include sidenavs/helpers.liquid %}

            {% include sidenavs/extra-elements.liquid %}

            {% include sidenavs/extra-components.liquid %}
        </ul>
    </nav>

    {{ content }}

    <!--
    <main class="main-content">
        {{ content }}
    </main>
    -->

    <footer class="main-footer">footer</footer>


<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->

<!--
<script>
  window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
  ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async></script>
-->
</body>

</html>
