<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>{{page.title}} for Goldilocks CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Goldilocks-CSS is a lightweight CSS framework based on grid that is HTML5 and CSS3 standards compliant.
     It is 100% responsive, fully modular, no javascript required and available for free on an MIT license.">
    <meta name="robots" content="index, follow">

    <link rel="icon" href="{{site.url}}/favicon.png">
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/zaphodbb-pm/goldilocks-css/dist/goldilocks.all.min.css" media="screen">-->

    <link rel="stylesheet" href='{{site.url}}/dist/goldilocks.all.min.css' media="screen">
    <!--<link rel="manifest" href="{{site.url}}/site.webmanifest">-->
</head>

<body>

    <div id="page-top" class="page-wrapper-widgets has-slidebar">
        <!-- add widget bar -->
        {% include main_page/widget-bar.liquid %}

        <!-- set up main page navbar -->
        {% include main_page/site-navbar.liquid %}
        {% include main_page/site-sidenav_links.liquid %}

        <!-- include heading and main content -->
        {{ content }}

        <!-- add footer at end -->
        {% include main_page/footer.liquid %}
    </div>


    <!-- Loads svg based icons that can be referenced on any page. -->
    <!-- Make sure that the icon definition file is publicly accessable. -->

    <script>
        fetch("{{site.url}}/dist/icon-definitions.html")
            .then( response => response.text() )
            .then((data) => {
                let svgElements = document.createElement('div');
                svgElements.innerHTML = data;
                document.body.appendChild(svgElements);
            })

        fetch("{{site.url}}/dist/icon-la-definitions.html")
            .then( response => response.text() )
            .then((data) => {
                let svgElements = document.createElement('div');
                svgElements.innerHTML = data;
                document.body.appendChild(svgElements);
            })
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K31V9M30B2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-K31V9M30B2');
    </script>

    <link href='{{site.url}}/public/prism-coy.css' rel="stylesheet" />
    <script src='{{site.url}}/public/prism.js'></script>
</body>

</html>
